openapi: 3.0.3

info:
  title: Karsaaz QR — Organization API
  version: "1.0"
  description: |
    The Karsaaz QR Organization API lets you programmatically manage QR codes,
    inspect scan analytics, and monitor credit usage for your organization.

    ## Authentication
    All endpoints require a Bearer API key in the `Authorization` header.

    ```
    Authorization: Bearer kq_<your_api_key>
    ```

    API keys are created and managed through the Organization Portal.

    ## Credits
    Each request consumes credits from your organization balance. The cost per
    request type is configured in the platform. Insufficient credits return `402`.

    Response headers on every request:
    - `X-Credits-Consumed` — credits deducted for this call
    - `X-Credits-Balance` — remaining balance after deduction
    - `X-RateLimit-Limit` — requests allowed per minute
    - `X-RateLimit-Remaining` — requests remaining this window

  contact:
    name: Karsaaz QR Support
    url: https://karsaazqr.com

servers:
  - url: https://api.karsaazqr.com/api
    description: Production
  - url: http://localhost:8000/api
    description: Local development

security:
  - BearerAuth: []

components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      description: "API key prefixed with kq_ (e.g. kq_abc123...)"

  schemas:
    QRCode:
      type: object
      properties:
        id:
          type: integer
          example: 42
        title:
          type: string
          example: "Summer Promo QR"
        type:
          type: string
          example: "url"
        content:
          type: object
          description: Type-specific content payload
          example: { "url": "https://example.com/promo" }
        is_dynamic:
          type: boolean
          example: true
        status:
          type: string
          enum: [active, inactive]
          example: "active"
        folder_id:
          type: integer
          nullable: true
          example: 5
        user_id:
          type: integer
          example: 12
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time

    QRCodeInput:
      type: object
      required: [title, type, content]
      properties:
        title:
          type: string
          maxLength: 120
          example: "Summer Promo QR"
        type:
          type: string
          maxLength: 40
          example: "url"
          description: "QR type slug (url, vcard, wifi, email, sms, phone, location, calendar, etc.)"
        content:
          type: object
          description: Type-specific content object
          example: { "url": "https://example.com" }
        is_dynamic:
          type: boolean
          default: false
        folder_id:
          type: integer
          nullable: true

    PaginationMeta:
      type: object
      properties:
        current_page:
          type: integer
        per_page:
          type: integer
        total:
          type: integer
        last_page:
          type: integer

    OrgAccount:
      type: object
      properties:
        id:
          type: integer
        name:
          type: string
        slug:
          type: string
        status:
          type: string
          enum: [active, suspended, trial]
        website:
          type: string
          nullable: true
        plan:
          type: string
          nullable: true
        credits:
          type: object
          properties:
            balance:
              type: number
              format: float
            lifetime_purchased:
              type: number
              format: float
            lifetime_spent:
              type: number
              format: float

    UsageSummary:
      type: object
      properties:
        period:
          type: string
          example: "30d"
        total_requests:
          type: integer
        total_credits:
          type: number
          format: float
        avg_response_ms:
          type: number
          format: float
        success_count:
          type: integer
        error_count:
          type: integer
        daily_trend:
          type: array
          items:
            type: object
            properties:
              date:
                type: string
                format: date
              requests:
                type: integer
              credits:
                type: number

    UsageBreakdown:
      type: object
      properties:
        period:
          type: string
        endpoints:
          type: array
          items:
            type: object
            properties:
              endpoint:
                type: string
              http_method:
                type: string
              calls:
                type: integer
              credits_consumed:
                type: number
              avg_response_ms:
                type: number
              errors:
                type: integer

    CreditBalance:
      type: object
      properties:
        balance:
          type: number
          format: float
        lifetime_purchased:
          type: number
          format: float
        lifetime_spent:
          type: number
          format: float
        recent_transactions:
          type: array
          items:
            type: object
            properties:
              amount:
                type: number
              type:
                type: string
                enum: [purchase, consumption, refund, bonus]
              description:
                type: string
              balance_after:
                type: number
              created_at:
                type: string
                format: date-time

    Error:
      type: object
      properties:
        error:
          type: string
          example: "Insufficient credits"
        message:
          type: string
          nullable: true

paths:
  # ─── Account ──────────────────────────────────────────────────────────────

  /v1/org/account:
    get:
      operationId: getOrgAccount
      summary: Get organization profile
      description: Returns the organization's name, slug, plan, status and credit overview.
      tags: [Account]
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/OrgAccount"
        "401":
          description: Invalid or missing API key
        "402":
          description: Insufficient credits

  # ─── Usage ────────────────────────────────────────────────────────────────

  /v1/org/usage:
    get:
      operationId: getUsageSummary
      summary: Get usage summary
      description: Aggregate call stats and daily trend for the requested period.
      tags: [Usage]
      parameters:
        - name: period
          in: query
          required: false
          schema:
            type: string
            enum: ["7d", "30d", "90d", "365d"]
            default: "30d"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/UsageSummary"
        "401":
          description: Unauthorized
        "402":
          description: Insufficient credits

  /v1/org/usage/breakdown:
    get:
      operationId: getUsageBreakdown
      summary: Get per-endpoint usage breakdown
      description: Call counts and credit costs grouped by endpoint and HTTP method.
      tags: [Usage]
      parameters:
        - name: period
          in: query
          required: false
          schema:
            type: string
            enum: ["7d", "30d", "90d", "365d"]
            default: "30d"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/UsageBreakdown"
        "401":
          description: Unauthorized

  /v1/org/credits:
    get:
      operationId: getCreditBalance
      summary: Get credit balance
      description: Current balance, lifetime stats, and the 20 most recent transactions.
      tags: [Usage]
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/CreditBalance"
        "401":
          description: Unauthorized

  # ─── QR Codes ─────────────────────────────────────────────────────────────

  /v1/org/qrcodes:
    get:
      operationId: listQRCodes
      summary: List QR codes
      description: Returns a paginated list of QR codes belonging to the organization.
      tags: [QR Codes]
      parameters:
        - name: type
          in: query
          required: false
          description: Filter by QR type slug
          schema:
            type: string
            example: "url"
        - name: search
          in: query
          required: false
          description: Partial title search
          schema:
            type: string
        - name: per_page
          in: query
          required: false
          schema:
            type: integer
            default: 15
            minimum: 1
            maximum: 100
        - name: page
          in: query
          required: false
          schema:
            type: integer
            default: 1
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/QRCode"
                  meta:
                    $ref: "#/components/schemas/PaginationMeta"
        "401":
          description: Unauthorized
        "402":
          description: Insufficient credits

    post:
      operationId: createQRCode
      summary: Create a QR code
      description: Creates a new QR code and returns it. Consumes `qrcode.create.dynamic` credits.
      tags: [QR Codes]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/QRCodeInput"
            examples:
              url:
                summary: URL QR code
                value:
                  title: "Product Page QR"
                  type: "url"
                  content:
                    url: "https://example.com/product"
                  is_dynamic: true
              vcard:
                summary: vCard QR code
                value:
                  title: "Business Card"
                  type: "vcard"
                  content:
                    first_name: "Jane"
                    last_name: "Smith"
                    email: "jane@example.com"
                    phone: "+1234567890"
      responses:
        "201":
          description: Created
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/QRCode"
        "422":
          description: Validation error
        "402":
          description: Insufficient credits

  /v1/org/qrcodes/bulk:
    post:
      operationId: bulkCreateQRCodes
      summary: Bulk create QR codes
      description: Creates up to 50 QR codes in a single request. Credits charged per item.
      tags: [QR Codes]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [items]
              properties:
                items:
                  type: array
                  minItems: 1
                  maxItems: 50
                  items:
                    $ref: "#/components/schemas/QRCodeInput"
            example:
              items:
                - title: "QR Alpha"
                  type: "url"
                  content:
                    url: "https://example.com/alpha"
                - title: "QR Beta"
                  type: "url"
                  content:
                    url: "https://example.com/beta"
      responses:
        "201":
          description: Created
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/QRCode"
                  count:
                    type: integer
        "402":
          description: Insufficient credits
        "422":
          description: Validation error

  /v1/org/qrcodes/{id}:
    parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
        description: QR code ID

    get:
      operationId: getQRCode
      summary: Get a QR code
      tags: [QR Codes]
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/QRCode"
        "404":
          description: Not found

    patch:
      operationId: updateQRCode
      summary: Update a QR code
      tags: [QR Codes]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                title:
                  type: string
                  maxLength: 120
                content:
                  type: object
                status:
                  type: string
                  enum: [active, inactive]
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/QRCode"
        "404":
          description: Not found

    delete:
      operationId: deleteQRCode
      summary: Delete a QR code
      tags: [QR Codes]
      responses:
        "200":
          description: Deleted
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: "QR code deleted."
        "404":
          description: Not found

  /v1/org/qrcodes/{id}/analytics:
    get:
      operationId: getQRCodeAnalytics
      summary: Get scan analytics for a QR code
      description: Returns daily scan counts for the requested period.
      tags: [QR Codes]
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
        - name: period
          in: query
          required: false
          schema:
            type: string
            enum: ["7d", "30d", "90d", "365d"]
            default: "30d"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      qr_code_id:
                        type: integer
                      period:
                        type: string
                      total_scans:
                        type: integer
                      daily:
                        type: array
                        items:
                          type: object
                          properties:
                            date:
                              type: string
                              format: date
                            scans:
                              type: integer
        "404":
          description: Not found
