@import "tailwindcss";

@theme {
  --font-sans: var(--font-inter);
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@layer base {
  html {
    -webkit-tap-highlight-color: transparent;
  }
  
  body {
    @apply antialiased text-gray-900 bg-white dark:bg-gray-900 dark:text-gray-100;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}